#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}

.headerbar{
  height:60px;
  padding:10px 10px 10px 10px;
  background-color: #58b7d9;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
 justify-content: space-between;
 margin-bottom: 40px;
}
.logo{
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size:1.5rem;
  padding-left:80px;
}
.searchbar{
  margin-right: 80px;
   padding: 8px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}
.home{
  margin-top: 100px;
}
.today,.title{
  display: flex;
  justify-content: center;
}
.blogcard{
  padding:10px 10px 10px 10px;
  display:flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
 border:2px solid #bcdde9;
 margin-top:10px;
 margin-bottom: 10px;
}